<div class="sidebar">
    <div class="wrapper">
        <div class="menu">
        <img src="https://i.ibb.co/B4Dn7CT/menu.png" />
        </div>
        <div class="items">
        <img src="https://i.ibb.co/L8D5T60/light.png" />
        <img src="https://i.ibb.co/zmDbMVZ/diamond.png" />
        <img src="https://i.ibb.co/W5QZ9Fk/envelope.png" />
        <img src="https://i.ibb.co/CnKDBxC/flask.png" />
        <img src="https://i.ibb.co/MGs4Fyn/sent-mail.png" />
        <img src="https://i.ibb.co/zGtDpcp/map.png" />
        </div>
        <div class="profile">
        <p>P</p>
        </div>
    </div>
</div>
<!--div class="navigation">
    <div class="wrapper2">
        <div class="abilan">
        <img src="https://i.ibb.co/HgJrt1p/abilan.png" />
        </div>
        <button class="compose">Compose Mail 
        <span class="plus">
            <img src="https://i.ibb.co/v1HxGWj/add-1.png"/></span></button>
        <div class="folders">Folders</div>
        <div class="folder-icons">
        <div class="icon1">
            <img src="https://i.ibb.co/qdgf3TJ/envelope.png" />
        </div>
        <div class="icon-name1">Inbox
            <button class="buton-span"> 20
        </button></div>
        </div>
        <div class="folder-icons">
        <div class="icon1">
            <img src="https://i.ibb.co/2yLfX9W/sent-mail.png" />
        </div>
        <div class="icon-name">Send Mail</div>
        </div>
        <div class="folder-icons">
        <div class="icon1">
            <img src="https://i.ibb.co/6ZH9kK3/star.png" />
        </div>
        <div class="icon-name">Important</div>
        </div>
        <div class="folder-icons">
        <div class="icon1">
            <img src="https://i.ibb.co/z4QhcbD/email.png" />
        </div>
        <div class="icon-name">Draft</div>
        </div>
        <div class="folder-icons">
        <div class="icon1">
            <img src="https://i.ibb.co/3MzfGDF/bug.png" />
        </div>
        <div class="icon-name">Spam</div>
        </div>
        <div class="folder-icons">
        <div class="icon1">
            <img src="https://i.ibb.co/xfcFLCN/waste-bin.png" />
        </div>
        <div class="icon-name">Trash</div>
        </div>
        <div class="folders">
        Online Friends
        </div>
        <div class="folder-icons">
        <div class="avatar">
            <div class="online">
            </div>
            <img src="https://randomuser.me/api/portraits/women/65.jpg" />
        </div>
        <div class="names">Don Allen
        </div>

        </div>
        <div class="folder-icons">
        <div class="avatar">
            <div class="online">
            </div>
            <img src="https://randomuser.me/api/portraits/women/71.jpg" />
        </div>
        <div class="names">Aaron Tim</div>
        </div>
        <div class="folder-icons">
        <div class="avatar">
            <div class="online red">
            </div>
            <img src="https://randomuser.me/api/portraits/men/54.jpg" />
        </div>
        <div class="names">Jack Joe</div>
        </div>
        <div class="folders">
        Labels
        </div>
        <div class="section1">
        <button class="btn buton1"> Important
        <span class="tag">
            <img src="https://i.ibb.co/Zdx3jGx/tag.png"/></span>
        </button>

        <button class="btn buton2"> New
            <span class="tag">
            <img src="https://i.ibb.co/N1SMfgQ/tag.png"/></span>
        </button>
        </div>
        <div class="section2">
        <button class="btn buton3"> Old
            <span class="tag">
            <img src="https://i.ibb.co/C5q0MDM/tag.png"/></span>
            </button>
        <button class="btn buton4"> Priority
            <span class="tag">
            <img src="https://i.ibb.co/DMmSZW0/tag.png"/></span>
            </button>
        </div>
    </div>
</div-->