<!DOCTYPE html>
<html>
<head>
	<title>{{pageTitle}}</title>
</head>
<body>
    <div class="dashboard">
        <div class="left">
          <dashSideboard></dashSideboard>
        </div>
        <div class="right-side">
          <dashMainboard></dashMainboard>
        </div>
    </div>
</body>
</html>